body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.stopwatch {
  text-align: center;
}

.display-container {
  background-color: #000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.display-container:hover {
  transform: scale(1.1);
}

#display {
  font-size: 64px;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #222;
}
